/*--------------------------------------------------
  [ Theme color   ]
--------------------------------------------------*/
/*========== theme Dark ==========*/
.theme--dark.v-application {
  background-color: $dark-body ;
  color: $palette-text-white;
  .v-navigation-drawer,
  .v-toolbar.v-app-bar,
  .v-card
 {
    background-color: $dark-surface;
  }
  header.v-toolbar a.v-btn--active,
  .text-color-default {
    color: #fff !important;
  }  
}

/*========== theme light ==========*/
.theme--light.v-application{

  .v-card{
    box-shadow: 0px 14px 22px -9px rgb(187 203 216 / 47%) !important;
    border: none;
  }
}


.v-menu__content{
  border-radius: 1rem;
  background: #ffffff !important;
  box-shadow: 0px 0px 25px 0px rgb(45 69 95 / 10%) !important;
}


.section-bg{
  @include palette-background-section;
}