$breadcrumbPath :"./static/images/";
$breadcrumbPath :"./static/images/banner";
$breadcrumbbg :"./static/images/poster";
$detailsPath :"./static/images/";
$GroupPath :"./static/images/";
$BodyBgPath :"./static/images/";




$HeroBgPath : "./static/images/hero";
$HeroPlanePath : "./static/images/hero";
$HerotitlePath : "./static/images/hero";
